##############################
## Folders                  ##
##############################
target

##############################
## Netbeans conf            ##
##############################
src/main/resources/db.properties