<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.today.entity"/>
    </typeAliases>

    <mappers>
        <mapper resource="com.today.dao/UserMapper.xml"/>
<!--        <mapper resource="com.today.dao/BookMapper.xml"/>-->
<!--        <mapper resource="com.today.dao/LendMapper.xml"/>-->
<!--        <mapper resource="com.today.dao/ReaderCardMapper.xml"/>-->
<!--        <mapper resource="com.today.dao/ReaderInfoMapper.xml"/>-->
    </mappers>
</configuration>