<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.today.entity"/>
    </typeAliases>

    <mappers>
        <mapper resource="com.today.dao/UserMapper.xml"/>
        <mapper resource="com.today.dao/TodoMapper.xml"/>
        <mapper resource="com.today.dao/ScheduleMapper.xml"/>
        <mapper resource="com.today.dao/TodoRelationshipMapper.xml"/>
        <mapper resource="com.today.dao/TomatoClockMapper.xml"/>
        <mapper resource="com.today.dao/TomatoClockStateRecordMapper.xml"/>
        <mapper resource="com.today.dao/WorkLogMapper.xml"/>
    </mappers>
</configuration>
