<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.today.dao.LogDao">
    <resultMap id="LogResultMap" type="com.today.entity.WorkLog">
    <id property="userID" column="user_id"/>
    <result property="date" column="date"/>
        <result property="exercise" column="experience"/>
        <result property="scheduleScore" column="schedule_score"/>
        <result property="tomatoScore" column="tomato_clock_score"/>
    </resultMap>
    <insert id="addLog">
        insert
        into worklog
        values (#{userID},#{date},#{exercise},#{scheduleScore},#{TomatoScore});
    </insert>
    <update id="updateLog">
        update worklog
        set user_id=#{userID},date=#{date},experience=#{exercise},schedule_score=#{scheduleScore}
        ,tomato_clock_score=#{TomatoScore}
        where user_id=#{userID}
    </update>
    <delete id="deleteLogByDate">
delete
from worklog
where date=#{date}
   </delete>
    <select id="getLogByDate" resultType="com.today.entity.WorkLog">
        select *
        from worklog
        where date=‘2020-12-18’
    </select>


</mapper>