<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.today.dao.TodoRealationshipDao">

    <insert id="addTodoRealationShip" parameterType="com.today.entity.TodoRealationship">
        insert
        into todorealationship
        values (#{childTodoId},#{parentTodoId})
    </insert>
    <delete id="deleteTodoRealationshipByTodoId">
        delete
        from todorealationship
        where child_todo_id=#{todoId}
        or parent_todo_id=#{todoId}
    </delete>
    <delete id="deleteTodoRealationshipByBothTodoId">
        delete
        from todorealationship
        where child_todo_id=#{childTodoId}
        and parent_todo_id=#{parentTodoId}
    </delete>
    <select id="getChildTodoIdList" resultType="java.lang.Integer">
        select child_todo_id
        from todorealationship
        where parent_todo_id=#{todoId}
        order by child_todo_id
        limit #{page,jdbcType=INTEGER},#{pageSize}
    </select>
    <select id="getParentTodoIdList" resultType="java.lang.Integer">
        select parent_todo_id
        from todorealationship
        where child_todo_id=#{todoId}
        order by parent_todo_id
        limit #{page,jdbcType=INTEGER},#{pageSize}
    </select>
    <select id="getParentTodoNum" resultType="java.lang.Integer">
        select count(*)
        from todorealationship
        where child_todo_id=#{todoId}
    </select>
    <select id="getChildTodoNum" resultType="java.lang.Integer">
        select count(*)
        from todorealationship
        where parent_todo_id=#{todoId}
    </select>
</mapper>